<div class="card">
    <div class="card-body">
        <h5 class="card-title"><a href="/entries/{{id}}">{{entry_title}}</a></h5>
        <p class="card-text">{{entry_content}}</p>
    </div>
    <h6 class="card-footer">Created by: {{user.user_name}} @ {{format_date created_at}}</h6>
</div>