<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{user_name}}'s Profile</h5>
        <p class="card-text">NAME: {{name}}</p>
        <p class="card-text">EMAIL: {{email}}</p>
        <p class="card-text">BIO: {{bio}}</p>
        <p class="card-text">LOCATION: {{location}}</p>
    </div>
</div>